.wrapper {
  height: 100%;
  display: flex;
  background-color: #5867efc2;
  box-shadow: 0px 0px 6px 0px #00000080;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.todoLists {
  flex: 1 1 25%;
  border-right: 2px solid #00000030;
  overflow-y: auto;
}
.tasks {
  flex: 1 1 75%;
  overflow-y: auto;
}
