.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: rgb(192, 45, 45);
  border-radius: 10px;
  padding: 10px;
  transition: 0.2s ease-in-out;
  position: absolute;
  top: 0px;
  left: 10px;
  transform: translateY(-100%);
  z-index: 100;
  &.active {
    transform: translateY(10px);
  }
}
